node_modules/
public/
dist/
.cache/
.vscode/
.idea/
yarn-error.log
package-lock.json
.DS_Store
Dockerfile
docker-deployment/
docker-compose.yml
packages/api/node_modules/
packages/api/Dockerfile
.git
*Dockerfile*
*docker-compose*
packages/native
