$featured-color: rgb(255, 255, 0);
$featured-color-hover: rgb(255, 255, 224);

$secondary-color: rgb(211, 211, 211);

$navbar-light-color: $featured-color;
$navbar-light-hover-color: $featured-color-hover;
$navbar-light-brand-color: $featured-color;
$navbar-light-brand-hover-color: $featured-color-hover;

$grey: rgb(120, 120, 120);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
